{% extends "layout.html" %} {% block title %}หน้าหลัก{% endblock %} {% block
content %}
<section class="hero-banner"> >

  <div class="hero-overlay">
    <div class="hero-content">
      <h1 class="hero-title" style="color: var(--white)">
        CRIME SUPPRESSION DIVISION
      </h1>
      <h2 class="hero-subtitle" style="color: var(--white)">
        กองบังคับการปราบปราม
      </h2>
      <div class="hero-line"></div>
      <p class="hero-description">
        เป็นองค์กรที่เชื่อมั่น ศรัทธาเป็นที่พึ่งของประชาชน
      </p>
    </div>
  </div>
  
</section>
<main class="main-container">
  <a href="https://www.cib.go.th/" target="_blank" class="portal-card">
    <img
      src="https://www.cib.go.th/uploads/logo_cib_lable_yellow_e5657fbe6b_0205329682.png"
      alt="CIB Logo"
      class="logo-img"
    />
    <div class="card-text">CIB Website</div>
    <div class="sub-text">เว็บไซต์หลักตำรวจสอบสวนกลาง</div>
  </a>

  <a href="https://csd.cib.go.th/home" target="_blank" class="portal-card">
    <img
      src="https://cib.go.th/backend/uploads/medium_logo_cib_2_2x_1be93f4a36_dc4193cba8.png"
      alt="CSD Logo"
      class="logo-img"
    />
    <div class="card-text">CSD Website</div>
    <div class="sub-text">เว็บไซต์หลักกองบังคับการปราบปราม</div>
  </a>
</main>
{% endblock %}
