<!doctype html>
<html lang="th">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="เว็บไซต์ทางการของกองกำกับการ 6 กองบังคับการปราบปราม กองบัญชาการตำรวจสอบสวนกลาง สำนักงานตำรวจแห่งชาติ">
  <meta name="keywords"
    content="CSD6, กองกำกับการ 6 กองบังคับการปราบปราม, กองบังคับการปราบปราม, บก.ป., ตำรวจสอบสวนกลาง, Crime Suppression Division">
  <!-- Open Graph / Social Media -->
  <meta property="og:title" content="CSD6 | Crime Suppression Division">
  <meta property="og:description" content="เว็บไซต์ทางการของกองกำกับการ 6 กองบังคับการปราบปราม กองบัญชาการตำรวจสอบสวนกลาง สำนักงานตำรวจแห่งชาติ">
  <meta property="og:image" content="https://cib.go.th/backend/uploads/medium_logo_cib_2_2x_1be93f4a36_dc4193cba8.png">
  <meta property="og:type" content="website">
  <!-- Custom Favicon (SVG) -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

  <title>{% block title %}{% endblock %} - CSD6</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="top-bar">
      <span>This is CSD6</span>
      <span id="current-date"></span>
    </div>
    <header class="nav-container">
      <div class="logo">
        <img src="static/images/favicon.png" alt="CIB Logo" class="nav-logo">
      </div>
      <div class="logo">
        <h1>กองกำกับการ 6 กองบังคับการปราบปราม</h1>
        <span style="text-align: left;">Crime Suppression Division 6 : CSD6</span>
      </div>
      <button class="hamburger" id="hamburger" aria-label="เปิดเมนู">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <nav class="main-menu" id="mainMenu">
        <ul>
          <li>
            <a href="/">หน้าหลัก<br />
              <span class="nav-sub">Home</span></a>
          </li>
          <li>
            <a href="/about">เกี่ยวกับเรา<br />
              <span class="nav-sub">About Us</span></a>
          </li>
          <li>
            <a href="/success">ผลงาน<br />
              <span class="nav-sub">Achievement</span></a>
          </li>
          <li>
            <a href="/advertise">ประชาสัมพันธ์<br />
              <span class="nav-sub">Advertisement</span></a>
          </li>
          <li>
            <a href="/contact">ติดต่อเรา<br />
              <span class="nav-sub">Contact Us</span></a>
          </li>
        </ul>
      </nav>
      </div>
    </header>

    {% block section %} {% endblock %}

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <div class="footer-inner">
        <div class="footer-logos">
          <img src="https://www.cib.go.th/uploads/Traditional_Logo_1_376e6d1d2b.png" alt="Logoบช.ก." loading="lazy" />
          <img src="https://www.cib.go.th/uploads/logo_cib_lable_yellow_e5657fbe6b_0205329682.png" alt="LogoCIB"
            loading="lazy" />
        </div>

        <div class="footer-address">
          <h3>ที่อยู่</h3>
          <p>
            1096 กองบังคับการปราบปราม ถนนพหลโยธิน
            แขวงจอมพล เขตจตุจักร กรุงเทพมหานคร <br />
            10900
          </p>
          <div class="footer-social">
            <a href="https://www.facebook.com/CIBTHAILAND/?locale=th_TH" target="_blank" aria-label="Facebook">
              <i class="fa-brands fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.tiktok.com/@cibpolice" target="_blank" aria-label="TikTok">
              <i class="fa-brands fa-tiktok fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/cib_thailand/" target="_blank" aria-label="Instagram">
              <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
          </div>
        </div>

        <div class="footer-contact">
          <h3>ติดต่อ</h3>
          <p>
            อีเมล: saraban_csd.cib@police.go.th <br />
            หมายเลขโทรศัพท์ติดต่อ: 02 5111 753
          </p>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>